<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>nuevo</servlet-name>
        <servlet-class>Controller.nuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSearchPelicula</servlet-name>
        <servlet-class>Controller.ServletSearchPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletEliminarPelicula</servlet-name>
        <servlet-class>Controller.NewServletEliminarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletUpdatePelicula</servlet-name>
        <servlet-class>Controller.NewServletUpdatePelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nuevoId</servlet-name>
        <servlet-class>Controller.nuevoId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSearchIdPelicula</servlet-name>
        <servlet-class>Controller.ServletSearchIdPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletEliminarIdPelicula</servlet-name>
        <servlet-class>Controller.NewServletEliminarIdPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletUpdateIdPelicula</servlet-name>
        <servlet-class>Controller.NewServletUpdateIdPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nuevogenero</servlet-name>
        <servlet-class>Controller.nuevogenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSearchGenero</servlet-name>
        <servlet-class>Controller.ServletSearchGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletEliminarGenero</servlet-name>
        <servlet-class>Controller.NewServletEliminarGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletUpdateGenero</servlet-name>
        <servlet-class>Controller.NewServletUpdateGenero</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>nuevo</servlet-name>
        <url-pattern>/nuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSearchPelicula</servlet-name>
        <url-pattern>/ServletSearchPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletEliminarPelicula</servlet-name>
        <url-pattern>/NewServletEliminarPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletUpdatePelicula</servlet-name>
        <url-pattern>/NewServletUpdatePelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nuevoId</servlet-name>
        <url-pattern>/nuevoId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSearchIdPelicula</servlet-name>
        <url-pattern>/ServletSearchIdPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletEliminarIdPelicula</servlet-name>
        <url-pattern>/NewServletEliminarIdPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletUpdateIdPelicula</servlet-name>
        <url-pattern>/NewServletUpdateIdPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nuevogenero</servlet-name>
        <url-pattern>/nuevogenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSearchGenero</servlet-name>
        <url-pattern>/ServletSearchGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletEliminarGenero</servlet-name>
        <url-pattern>/NewServletEliminarGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletUpdateGenero</servlet-name>
        <url-pattern>/NewServletUpdateGenero</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
